body{

   background-image: url("../images/back.jpg");

 }

h1{
 color: white;
}

#aboutMe{

  color:white;
}
#video1{
  display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
}
#video2{
  position: absolute;
   right: 400px;
   width: 300px;

}
