body{
  background-color:#3B5584;
  margin-top: 50px;
  margin-bottom: 90px;
 }
 .navigations{

   margin-bottom: 20px;
 }
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C7814D;
}
li{
  float:left;
}
li a{
  display:block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li a:hover{
  background-color: #C7B04D;
}
h1{

  font-size: 30px;
}
h1 span{
  font-size:90px;
}
.container{
  position:relative;
  text-align: center;
  color:WHITE;
  margin-bottom: 20px;
}

.players{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}
.players::before{

  content:'[';
  left:-30px;

}
.players::after{
  content:']';
  right:-30px;

}
.players::before, .players::after{
        position: absolute;
        top:40px;
        color:white;
        font-size: 150px;
        line-height: 40px;
         animation-name: opacity;
         animation-duration: 2s;
         animation-iteration-count: infinite;

}
.gallery{
    background-color: #C7814D;
    margin-bottom: 20px;
}
.gallery a img{

  border:1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:150px;
  margin: 10px;

}
.gallery a img:hover{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.about{

  background-color: #C7814D;
}
.about h1{
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  color: #3B5584;
  left:0;
  top:10%;
  width: 100%;
  text-align: center;
}
.about p {

  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}
.contact{
  position: relative;
  background-color: #C7814D;
  padding: 20px;
}
.contact h1{
  position: absolute;
  color: #3B5584;
  left:0;
  top:10%;
  width: 100%;
  text-align: center;

}
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
